.TodoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: .5rem;
}



.TodoItem input {
    margin-right: 1rem;
}



.TodoItem button {
    background: red;
    border-radius: 50%;
    color: #fff;
    border: none;
    cursor: pointer;
}

.TodoItem button:active {
    outline: none;
    box-shadow: none;
}